stevedatafactory/PartialArmTemplates/ArmTemplate_1_11_2021_11_14_59.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "stevedatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('for_each_array')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "variable",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Filter1",
									"type": "Filter",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"items": {
											"value": "@variables('filter_array')",
											"type": "Expression"
										},
										"condition": {
											"value": "@equals(item(),variables('variable'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"for_each_array": {
						"type": "Array",
						"defaultValue": [
							"a",
							"b",
							"c",
							"d",
							"e"
						]
					},
					"filter_array": {
						"type": "Array",
						"defaultValue": [
							"e",
							"f",
							"g",
							"h",
							"i"
						]
					},
					"variable": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-12-30T09:37:34Z"
			},
			"dependsOn": []
		}
	]
}